body{
 margin: 0;
 padding: 0;
 background-color: black;
 font-family: Arial;
}

.MH{
  padding: 25px;
}

.MaterialHubOP{
  width: 180px;
  height: 37px;
  font-family: Arial;
  font-weight: bold;
  background-color: #1b1b1b;
  display: flex;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.frontMaterialHubOP{
  color: white;
  flex: 1;
  font-size: 30px;
}

.backMaterialHubOP{
  background-color: #ffa31a;
  flex: 1;
  font-size: 30px;
  border-radius: 4px;
  margin: 1px;
  color: black;
}

.MaterialHubDescription{
  margin-top: 10px;
  color: wheat;
  text-align: center;
}

.SemContainer{
  background-color: black;
  border-top: 1px solid #8080805e;
  overflow: hidden;
}

.SemNavigatorContainer{
  border-bottom: 1px solid #8080805e;
}

.SemNavigator{
  display: flex;
  margin: 10px;
  width: 100%;
}

.SemNavigator button{
  margin: auto;
  background-color: #1b1b1b;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.SubGridContainer{
  padding: 10px;
}

.SubGrid{
  display: flex;
  /* margin-left: -25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  overflow-x: auto;
  padding: 30px; */
  
}

.SubGrid button{
  margin: auto;
  color: white;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background-color: #1b1b1b;
  /* background-color: #1b1b1b;
  color: white;
  text-align: center;
  padding: 10px; */
}

.SubGrid div.active {
  background-color: #ffa31a;
  color: black;
}
.Subject{
  margin: 10px;
}

pre{
  border-radius: 3px;
  padding: 10px;
  color: white;
}

code, pre{
  width: 96%;
  overflow-y: hidden;
  margin: 10px;
}

.practicals{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

::-webkit-scrollbar{
  height: 5px;
  width: 5px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa31a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa31a;
}

.practicals button{
  background-color: #1b1b1b;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {

  .SemNavigator  {
    margin: 1px;
    overflow: scroll;
    overflow-y: hidden;
    padding: 0px;
  }

  .SemNavigator button {
    margin: 10px;
  }
  
}
